<!DOCTYPE html>
<html>
	<head>
		<title>SW2015 Tutorial</title>
	</head>

	<body>
		<div class="container">
			<div class='row'>
				<div class='col-lg-12'>
					<h1>Welcome to the KR on the Web Tutorial Server</h1>
					<p>Our server is running at <code>{{ url_for('first_page', _external=True) }}</code></p>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-12'>
					<h3>Step 1 <small>Dynamic loading of CSS and Javascript</small></h3>
					<p>Click the link to make this page look a bit nicer</p>
					<div><a id="link1" class='btn btn-primary'>link</a></div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-12'>
					<h3>Step 2 <small>Sending information to the server</small></h3>
					<p>Click the link to send the message 'Hello World' to the server</p>
					<div><a id="link2" class='btn btn-primary' href="/show?message=Hello World">link</a></div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 3 <small>Sending information via an AJAX call</small></h3>
					<p>Click the link to send the message 'Hello World' to the server, and show the output in a <code>&lt;div&gt;</code> element</p>
					<div><a id="link3" class='btn btn-primary'>link</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget3" class='well'>This is where the message will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 4 <small>Gathering user input</small></h3>
					<p>Click the link to send your own text to the server, and show the output in a <code>&lt;div&gt;</code> element</p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput1'>Write a message</label>
							<input type='text' class='form-control' id='messageInput1' placeholder='Type some nifty message'>
						</div>
					</form>
					<div><a id="link4" class='btn btn-primary'>link</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget4" class='well'>This is where your message will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 5 <small>Fully client side</small></h3>
					<p>Click the link to directly copy your message to a <code>&lt;div&gt;</code> element</p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput2'>Write a message</label>
							<input type='text' class='form-control' id='messageInput2' placeholder='Type some nifty message'>
						</div>
					</form>
					<div><a id="link5" class='btn btn-primary'>link</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget5" class='well'>This is where your message will be copied to.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 6 <small>Third-party Service</small></h3>
					<p>Start typing to copy the server response to a <code>&lt;div&gt;</code> element</p>
					<p>We will use the <em>autocomplete</em> service of the <a href="http://linkedlifedata.com" target="_new">LinkedLifeData.com</a> website.</p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput3'>Write a message</label>
							<input type='text' class='form-control' id='messageInput3' placeholder='Type some nifty message'>
						</div>
					</form>
					<!-- <div><a id="link5" class='btn btn-primary'>link</a></div> -->
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget6" class='well' style='scroll: both; overflow: auto; height: 10em;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 7 <small>Parse results</small></h3>
					<p>Start typing to copy a parsed server response to a <code>&lt;div&gt;</code> element</p>
					<p>We will use the <em>autocomplete</em> service of the <a href="http://linkedlifedata.com" target="_new">LinkedLifeData.com</a> website.</p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput7'>Write a message</label>
							<input type='text' class='form-control' id='messageInput7' placeholder='Type some nifty message'>
						</div>
					</form>
					<!-- <div><a id="link5" class='btn btn-primary'>link</a></div> -->
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget7" class='well' style='scroll: both; overflow: auto; height: 10em;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 8 <small>Add click handlers</small></h3>
					<p>Start typing to copy a parsed server response to a <code>&lt;div&gt;</code> element. We add custom handlers for the click events.</p>
					<p>We will use the <em>autocomplete</em> service of the <a href="http://linkedlifedata.com" target="_new">LinkedLifeData.com</a> website.</p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput8'>Write a message</label>
							<input type='text' class='form-control' id='messageInput8' placeholder='Type some nifty message'>
						</div>
					</form>
					<!-- <div><a id="link5" class='btn btn-primary'>link</a></div> -->
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget8" class='well' style='scroll: both; overflow: auto; height: 10em;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 9 <small>Fire SPARQL DESCRIBE</small></h3>
					<p>Start typing to copy a parsed server response to a <code>&lt;div&gt;</code> element. The click events now use the URI returned by the autocompletion to fire a SPARQL DESCRIBE query, e.g:</p>
					<pre class='sparql'>DESCRIBE &lt;http://linkedlifedata.com/resource/umls/id/C0000970&gt;</pre>
					<p>We will use the <em>autocomplete</em> service of the <a href="http://linkedlifedata.com" target="_new">LinkedLifeData.com</a> website. And fire the SPARQL query to the endpoint at <a href="http://linkedlifedata.com/sparql">http://linkedlifedata.com/sparql</a>. However, the problem is that not all SPARQL endpoints properly handle JSONP/CORS so we wrap it in a server side function <code>{{ url_for('sparql') }}</code></p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput9'>Write a message</label>
							<input type='text' class='form-control' id='messageInput9' placeholder='Type some nifty message'>
						</div>
					</form>
					<!-- <div><a id="link5" class='btn btn-primary'>link</a></div> -->
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget9" class='well' style='scroll: both; overflow: auto; height: 15em;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 10 <small>Store results</small></h3>
					<p>Start typing to copy a parsed server response to a <code>&lt;div&gt;</code> element. The click events now use the URI returned by the autocompletion to fire a SPARQL DESCRIBE query, e.g:</p>
					<pre class='sparql'>DESCRIBE &lt;http://linkedlifedata.com/resource/umls/id/C0000970&gt;</pre>
					<p>We will use the <em>autocomplete</em> service of the <a href="http://linkedlifedata.com" target="_new">LinkedLifeData.com</a> website. And fire the SPARQL query to the endpoint at <a href="http://linkedlifedata.com/sparql">http://linkedlifedata.com/sparql</a>. However, the problem is that not all SPARQL endpoints properly handle JSONP/CORS so we wrap it in a server side function <code>{{ url_for('sparql') }}</code> (that will come in handy later anyway)</p>
					<p>We also specify a link button that allows us to <em>post</em> the response to our own triple store. Again, we will wrap this call in a server side function <code>{{ url_for('store') }}</code></p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput10'>Write a message</label>
							<input type='text' class='form-control' id='messageInput10' placeholder='Type some nifty message'>
						</div>
					</form>

					<div><a id="link10" class='btn btn-primary disabled'>link</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget10" class='well' style='scroll: both; overflow: auto; height: 15em;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 11 <small>Query DBPedia</small></h3>
					<p>Start typing to copy a parsed server response to a <code>&lt;div&gt;</code> element. The click events now use the <strong>label</strong> returned by the autocompletion to fire a SPARQL CONSTRUCT query, e.g:</p>
					<pre class='sparql'>
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#&gt;

CONSTRUCT {
	?s rdfs:label "Aspirin" .
	?s ?p1 ?o1 .
	?o1 ?p2 ?o2 .
} WHERE {
	?s  rdfs:label "Aspirin"@en;
	    ?p1        ?o1 .
	?o1 ?p2        ?o2 .
}</pre>
					<p>We will use the <em>autocomplete</em> service of the <a href="http://linkedlifedata.com" target="_new">LinkedLifeData.com</a> website. And fire the SPARQL query to the endpoint at <a href="http://live.dbpedia.org/sparql">http://live.dbpedia.org/sparql</a>. However, the problem is that not all SPARQL endpoints properly handle JSONP/CORS so we wrap it in a server side function <code>{{ url_for('sparql') }}</code></p>
					<p>We also specify a link button that allows us to <em>post</em> the response to our own triple store. Again, we will wrap this call in a server side function <code>{{ url_for('store') }}</code></p>
					<p>Note that the only real difference with <strong>Step 10</strong> is the SPARQL Query!</p>
					<form role='form'>
						<div class='form-group'>
							<label for='messageInput11'>Write a message</label>
							<input type='text' class='form-control' id='messageInput11' placeholder='Type some nifty message'>
						</div>
					</form>

					<div><a id="link11" class='btn btn-primary disabled'>link</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget11" class='well' style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 12 <small>Add some Schema</small></h3>
					<p>Let's add some schema information to our repository:</p>
					<textarea class="form-control" id="schema" class='turtle' style='width: 100%' rows='10'>
@prefix owl:  &lt;http://www.w3.org/2002/07/owl#&gt; .
@prefix dbo: &lt;http://dbpedia.org/ontology/&gt; .
@prefix umls-semnetwork: &lt;http://linkedlifedata.com/resource/semanticnetwork/id/&gt; .

# Let's say that the class of DBPedia 'Drug's is equivalent
# to the 'Pharmacological Substance' class in LLD
dbo:Drug owl:equivalentClass umls-semnetwork:T121 .
</textarea>
					<p>Click the link button to <em>POST</em> the schema to our own triple store. Again, we will wrap this call in a server side function <code>{{ url_for('store') }}</code></p>
					<div><a id="link12" class='btn btn-primary'>link</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget12" class='well' style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 13 <small>Query for <code>rdf:type</code> relations</small></h3>
					<p>Let's run the following query against the repository and show the results in the <code>div</code> :</p>
					<pre id='query13' class='sparql' style='width: 100%' rows='10'>
PREFIX owl: &lt;http://www.w3.org/2002/07/owl#&gt;
PREFIX dbo: &lt;http://dbpedia.org/ontology/&gt;

SELECT ?x WHERE {
  ?x a dbo:Drug .
}
</pre>
					<p>Click the link button to <em>GET</em> the query to our triple store. Again, we will wrap this call in a server side function <code>{{ url_for('sparql') }}</code></p>
					<div><a id="link13" class='btn btn-primary'>link</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget13" class='well' style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<h3>Step 14 <small>Parsing query results</small></h3>
					<p>Just because some people dislike the number 13, let's run a query against the repository, do some client-side parsing of the JSON results, and show them in the <code>div</code>:</p>
					<textarea id='query14' class='sparql' style='width: 100%' rows='10'>
PREFIX owl: &lt;http://www.w3.org/2002/07/owl#&gt;
PREFIX dbo: &lt;http://dbpedia.org/ontology/&gt;

SELECT ?x WHERE {
  ?x a dbo:Drug .
}
</textarea>
					<p>Click the link button to <em>GET</em> the query to our triple store. Again, we will wrap this call in a server side function <code>{{ url_for('sparql') }}</code></p>
					<div><a id="link14" class='btn btn-primary'>link</a></div>
				</div>
				<div class='col-lg-6'>
					<h3>Output</h3>
					<div id="linktarget14" class='well' style='height: 15em; scroll: both; overflow: auto;'>This is where the server response will appear.</div>
				</div>
			</div>

		</div>

		<script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/tutorial.js") }}' type='text/javascript'></script>


	</body>
</head>
